<div class="met-nav-sidebar">

    <div class="banner-detail"></div>

    <a href="http://morgantownmet.com" class="homelink"><div class="logo"></div></a>

    <div class="met-nav">
      <r:site_menu ul_class="nav-collapse" />
    </div>


  <div class="met-nav-footer">
    <div class="met-social">
      social media icons
    </div>

    <p>	&copy; 2016 The Metropolitan Theatre.<br>
  The Metropolitan Theatre supports educational opportunities for students studying at the West Virginia University College of Creative Arts.
  </p>

  </div>

</div>
